<div class="card card-level" style="width: 12rem; height: 6rem; margin-left: 15px; margin-right:15px; background-color: rgba(255, 255, 255, .9);" >
    <div class="d-flex justify-content-between px-1">
        <b class="title-level">{{name}}</b>
        
    </div>
    <div class="card-content d-flex align-items-center flex-grow-1">
        <h1 class="mx-4" [style]="{color: '#aaa'}"><fa-icon [icon]="iconDefinition"></fa-icon></h1>
        <h2 class="text-center mx-2" *ngIf="!loadingIndicator">
            {{(indicator == null ? 0 : indicator.value) | number }}{{unit}}
        </h2>
        <h2 class="text-center mx-2" *ngIf="loadingIndicator">
            <i class="pi pi-spin pi-spinner" ></i>
        </h2>
    </div>
</div>