<div class="wrapper">
    <section [class]="classSideNav">
        <app-side-menu (onCollapse)="collapseSideNav($event)" (onChangeLevel)="changeLevel($event)"></app-side-menu>
    </section>
    <div class="main-content">
        <app-image-panel [collapseSideBar]="collapsedSideNav" [(objectChangeLevel)]="objectChangelevel" (onChangeLevel)="changeLevel($event)"></app-image-panel>
        <app-table-alarms [(objectChangeLevel)]="objectChangelevel" ></app-table-alarms>
    </div>
</div>
