<div class="row shadow-sm justify-content-center align-items-center p-3">
    <div class="col-md-1 text-right">
        <h4>Filtros</h4>
    </div>
    <div class="col-md-11">
        <form class="" [formGroup]="formFilter" (submit)="getReport()">
            <div class="form-inline row mb-2 col-md-12">
                <div class="form-group col-sm-4">
                    <label for="endTime" class="col-sm-3 col-form-label">Segmento:</label>
                    <div class="col-sm-9 p-field">
                        <p-dropdown formControlName="segmentName" [disabled]="loadingSegments" [options]="segments" optionLabel="description" optionValue="name" [(ngModel)]="this.reportFilter.segmentName" [placeholder]="'Segmento'" styleClass="w-100" (onChange)="loadAreas()"></p-dropdown>
                    </div>
                </div>
                <div class="form-group col-md-4 ">
                    <label for="endTime" class="col-sm-3 col-form-label">Área:</label>
                    <div class="col-sm-9 p-field">
                        <p-dropdown formControlName="areaName" [disabled]="loadingAreas" [options]="areas" [(ngModel)]="this.reportFilter.areaName" optionLabel="description" optionValue="name" [placeholder]="'Área'" styleClass="w-100" (onChange)="loadSections()"></p-dropdown>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="endTime" class="col-sm-3 col-form-label">Seção:</label>
                    <div class="col-sm-9 p-field">
                        <p-dropdown formControlName="sectionName" [disabled]="loadingSections" [options]="sections" [(ngModel)]="this.reportFilter.sectionName" optionLabel="description" optionValue="name" [placeholder]="'Seção'" styleClass="w-100"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row form-inline col-md-12">
                <div class="form-group col-md-4">
                    <label for="startTime" class="col-sm-3 col-form-label">Início*:</label>
                    <div class="col-sm-9 p-field">
                        <p-calendar formControlName="startTime" styleClass="w-100" [(ngModel)]="this.reportFilter.startTime" [dateFormat]="'dd/mm/yy'" [showTime]="true" [showIcon]="true" [showSeconds]="true" [inputStyleClass]="'calendar-input'" [selectOtherMonths]="true"></p-calendar>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="endTime" class="col-sm-3 col-form-label">Fim*:</label>
                    <div class="col-sm-9 p-field">
                        <p-calendar formControlName="endTime" styleClass="w-100" [(ngModel)]="this.reportFilter.endTime" [dateFormat]="'dd/mm/yy'" [showTime]="true" [showIcon]="true" [showSeconds]="true" [selectOtherMonths]="true" ></p-calendar>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label for="endTime" class="col-sm-3 col-form-label">Intervalos*:</label>
                    <div class="col-sm-9 p-field">
                        <p-dropdown formControlName="interval" [options]="intervals" styleClass="w-100" (onChange)="setInterval($event.value)"></p-dropdown>
                    </div>
                </div>
            </div>
            <div class="row form-inline col-md-12 mt-1">
                <div class="form-group col-md-12 text-right">
                    <div class="col-sm-12 p-field">
                        <button type="button" class="btn btn-secondary mx-1" (click)="formFilter.reset()" >
                            <fa-icon [icon]="faRedoAlt"></fa-icon>
                            Limpar
                        </button>
                        <button type="submit" class="btn btn-system mx-1" [disabled]="!formFilter.valid || loadingReport" >
                            <fa-icon [icon]="faSearch"></fa-icon>
                            Gerar
                        </button>
                        <button type="button" class="btn btn-secondary ml-1" [disabled]="!reportGenerated || loadingReport" (click)="captureScreen()" >
                            <fa-icon [icon]="faFileAlt"></fa-icon>
                            Exportar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="dashboard-body" style="min-height:70vh;" id="report-body">
    <app-spinner *ngIf="loadingReport"></app-spinner>
    <app-header *ngIf="showHeader"></app-header>
    <div id="report-header" *ngIf="!loadingReport && reportEquipments.equipmentsStatus != undefined">
        <div class="row px-4 py-1 text-center" >
            <div class="col-md-12 card py-2 shadow-sm">
                <h4 class="mb-0">Relatório de Equipamentos {{reportPeriod}}</h4>
            </div>
        </div>
        <div class="row px-4 py-1 report">
            <div [class]="classesGraphics">
                <h4 class="mb-3">Alarmes</h4>
                <div [class]="innerGraphicsClasses">
                    <!-- <app-spinner *ngIf="loadingGraphicType"></app-spinner> -->
                    <div echarts [(options)]="chartAlarmsByGroup" class="level-chart" style="max-width: 80vw;"></div>
                </div>
            </div>
            <div [class]="classesGraphics">
                <div class="row justify-content-between px-2">
                    <h4 class="mb-3">KPIs</h4>
                </div>
                <div [class]="innerGraphicsClasses">
                    <div echarts [(options)]="chartOptionsKPIs" class="level-chart" style="max-width: 80vw;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-4 py-1" *ngIf="!loadingReport && reportEquipments.equipmentsStatus != undefined">
        <div class="col-md-12 card pt-2 pb-1 shadow-sm">
            <h4>Equipamentos</h4>
            <p-table [value]="reportEquipments.equipmentsStatus" styleClass="p-datatable-sm table-striped table table-bordered table-sm"
            [filterLocale]="'pt-br'" [paginator]="paginator" [rows]="50" [showCurrentPageReport]="true" 
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50,100]">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                            <div [ngSwitch]="col.field">
                                <div *ngSwitchCase="'timeStampSeverityStatus'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field" *ngIf="sortColumns"></p-sortIcon></div>
                                    <p-columnFilter type="date" [field]="col.field" display="menu" ></p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'severityStatus'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field" *ngIf="sortColumns"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu" >
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="severities" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    <span [class]="'alarm-badge status-' + option.value">{{option.label}}</span>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'description'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field" *ngIf="sortColumns"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu" *ngIf="filterRecords">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="equipmentNames" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'areaDescription'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field" *ngIf="sortColumns"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="areaNames" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchDefault class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field" *ngIf="sortColumns"></p-sortIcon></div>
                                    <p-columnFilter type="text" [field]="col.field" display="menu" ></p-columnFilter>
                                </div>
                            </div>
                            
                        </th>
                        <th style="width: 3%;" class="text-center"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-equipment>
                    <tr>
                        <td *ngFor="let col of cols">
                            <div [ngSwitch]="col.field" >
                                <span *ngSwitchCase="'severityStatus'" [class]="'alarm-badge status-'+equipment[col.field]">{{equipment[col.field]}}</span>
                                <span *ngSwitchCase="'timeStampSeverityStatus'">{{equipment[col.field] | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
                                <span *ngSwitchCase="'criticalStatusPeriod'">{{equipment[col.field] | number}}%</span>
                                <span *ngSwitchCase="'alertStatusPeriod'">{{equipment[col.field] | number}}%</span>
                                <span *ngSwitchCase="'description'">
                                    <span *ngIf="(equipment[col.field] != null && equipment[col.field] != '') else blockElse">{{equipment[col.field]}}</span>
                                    <ng-template #blockElse >{{equipment['name']}}</ng-template>
                                </span>
                                <span *ngSwitchCase="'areaDescription'">
                                    <span *ngIf="(equipment[col.field] != null && equipment[col.field] != '') else blockElse">{{equipment[col.field]}}</span>
                                    <ng-template #blockElse >{{equipment['areaName']}}</ng-template>
                                </span>
                                <span *ngSwitchDefault>{{equipment[col.field]}}</span>
                            </div>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-outline-secondary btn-sm" pTooltip="Ver Equipamento" (click)="loadEquipment($event, equipment)">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <td [colSpan]="cols.length+1">
                        <app-spinner *ngIf="false"></app-spinner>
                        <span *ngIf="!false">
                            Nenhum registro encontrado.
                        </span>
                    </td>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-dialog [modal]="true" [(visible)]="generateReport" [style]="{'width': '30vh'}" [showHeader]="false">
    <app-spinner message="Exportando relatório"></app-spinner>
</p-dialog>
<div id="report-pdf">
    <app-report-pdf *ngIf="generateReport" [title]="'Relatório de Equipamentos'+reportPeriod"
                    [chartAlarmsByGroup]="chartAlarmsByGroup"
                    [chartOptionsKPIs]="chartOptionsKPIs"
                    [cols]="cols"
                    [reportEquipments]="reportEquipments"
                    [(generatingReport)]="generateReport"
                    (onGenerateReport)="hidePdf()"
                    (onMountDocument)="resetContent()"
    >
    
    </app-report-pdf>
</div>