<div class="card shadow" id="login-box">
    <div class="container-fluid text-center">
        <img src="assets/images/logo_arcelor.png" class="logo-login" />
        <h4 class="my-2 mb-5"><b>Sistema de Gerenciamento de Equipamentos</b></h4>
        <form class="form my-4" [formGroup]="formLogin" (submit)="login()" >
            <h5 class="mb-3">Login</h5>
            <div class="form-group row">
                <div class="col-sm-12 input-group text-left">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <fa-icon [icon]="faUser"></fa-icon>
                        </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Usuário" [(ngModel)]="userLogin.name" formControlName="name">
                    <div *ngIf="nameForm.invalid && (nameForm.dirty || nameForm.touched)" 
                        class="col-sm-12 pt-2 text-danger">
                        <div *ngIf="nameForm.errors.required">
                            Usuário é obrigatório
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 input-group text-left">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <fa-icon [icon]="faLock"></fa-icon>
                        </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="userLogin.password" formControlName="password">
                    <div *ngIf="passwordForm.invalid && (passwordForm.dirty || passwordForm.touched)" 
                        class="col-sm-12 pt-2 text-danger">
                        <div *ngIf="passwordForm.errors.required">
                            Senha é obrigatório
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <button class="btn btn-secondary w-100" type="submit" [disabled]="loading ">
                        <span *ngIf="!loading else elseBlock">
                            <fa-icon [icon]="faSignInAlt"></fa-icon>
                            Login
                        </span>
                        <ng-template #elseBlock>
                            <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
                             Aguarde...
                        </ng-template>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>