<p-table [value]="variables" styleClass="p-datatable-sm table-striped table table-bordered table-sm" [scrollable]="true" scrollHeight="330px" >
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">{{col.header}}</th>
            <th style="width: 25%;" class="text-center"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-variable>
        <tr>
            <td *ngFor="let col of cols" >
                <span *ngIf="col.field == 'description'" [class]="{'text-danger': variable['severity'] == 'CRITICO', 'text-warning':variable['severity'] == 'ALERTA'}">
                    {{(variable[col.field] != null && variable[col.field] != '') ? variable[col.field] : variable['name']}}
                </span>
            </td>
            <td style="width: 25%;" class="text-center">
                <button class="btn btn-outline-secondary btn-sm" type="button" pTooltip="Adicionar ao gráfico" *ngIf="!variableIsInGraphic(variable['name'])" (click)="addToGraphic($event, variable)">
                    <fa-icon [icon]="faChartLine" ></fa-icon>
                </button>
                <button class="btn btn-outline-danger btn-sm" type="button" pTooltip="Remover do gráfico" *ngIf="variableIsInGraphic(variable['name'])" (click)="removeFromGraphic($event, variable)">
                    <fa-icon [icon]="faTimes" ></fa-icon>
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <td [colSpan]="cols.length+1">
            <app-spinner *ngIf="loading"></app-spinner>
            <span *ngIf="!loading">
                Nenhum registro encontrado.
            </span>
        </td>
    </ng-template>
</p-table>



