<div class="dashboard-header d-flex justify-content-center align-items-center m-2 px-5 py-3 shadow-sm">
    <h5 class="mb-0">Referência:</h5>
    <form class="form-inline" [formGroup]="formSearch">
        <div class="form-group px-3">
            <label for="startTime" class="mx-2">Mês</label>
            <div class="">
                <p-calendar [(ngModel)]="startTime" formControlName="startTime" [dateFormat]="'mm/yy'" view="month" [showIcon]="true" [inputStyleClass]="'calendar-input'" ></p-calendar>
                <div *ngIf="startTimeForm.invalid && (startTimeForm.dirty || startTimeForm.touched)" class="text-danger">
                    <div *ngIf="startTimeForm.errors.required">
                        Mês é obrigatório
                    </div>
                </div>
            </div>
            
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-system" (click)="searchAll()">
                <fa-icon [icon]="faSearch"></fa-icon>
                Buscar
            </button>
        </div>
    </form>
</div>
<div class="dashboard-body">
    <div class="row px-4 py-2">
        <div class="col-md-4 card pt-2 pb-1 shadow-sm" style="min-height: 400px;">
            <h5 class="mb-3">Alarmes por Tipo</h5>
            <div class="h-100">
                <app-spinner *ngIf="loadingGraphicType"></app-spinner>
                <div *ngIf="!loadingGraphicType" echarts [(options)]="chartAlarmsByType" class="level-chart"></div>
            </div>
        </div>
        <div class="col-md-8 card pt-2 pb-1 shadow-sm" style="min-height: 400px;">
            <div class="row justify-content-between px-2">
                <h5 class="mb-3">Alarmes por {{currentLevelChildrenName}}</h5>
                <button type="button" class="btn btn-sm btn-outline-secondary" *ngIf="level != 1 && (!loadingGraphicGroup)" (click)="drillUpChartbar()" >
                    <fa-icon [icon]="faArrowLeft"></fa-icon>
                    Voltar
                </button>
            </div>
            <div class="h-100">
                <app-spinner *ngIf="loadingGraphicGroup"></app-spinner>
                <div *ngIf="!loadingGraphicGroup" echarts [(options)]="chartAlarmsByGroup" class="level-chart" (chartClick)="drilldownChartBar($event)"></div>
            </div>
        </div>
    </div>
    <div class="row px-4 py-2">
        <div class="col-md-12 card shadow-sm pt-2" >
            <p-table [value]="alarms" styleClass="p-datatable-sm table-striped table table-bordered table-sm"
            [filterLocale]="'pt-br'" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols" [pSortableColumn]="col.field" [style]="{'width': getColumnWidth(col.field)}">
                            <div [ngSwitch]="col.field">
                                <div *ngSwitchCase="'value'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter type="numeric" [field]="col.field" display="menu"></p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'timeStamp'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter type="date" [field]="col.field" display="menu"></p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'severity'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="severities" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    <span [class]="'alarm-badge status-' + option.value">{{option.label}}</span>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'variableDescription'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="variableDescs" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'variableName'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="variableNames" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'equipmentDescription'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="equipmentDescs" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'equipmentName'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="equipmentNames" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'areaDescription'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="areaNames" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchDefault class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                                </div>
                            </div>
                            
                        </th>
                        <th style="width: 3%;" class="text-center"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-alarm>
                    <tr>
                        <td *ngFor="let col of cols" [style]="{'width': getColumnWidth(col.field)}">
                            <div [ngSwitch]="col.field">
                                <span *ngSwitchCase="'value'">{{alarm[col.field] | number}} {{alarm['engUnit']}}</span>
                                <span *ngSwitchCase="'severity'" [class]="'alarm-badge status-'+alarm[col.field]">{{alarm[col.field]}}</span>
                                <span *ngSwitchCase="'timeStamp'">{{alarm[col.field] | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
                                <span *ngSwitchCase="'areaDescription'">
                                    <span *ngIf="(alarm[col.field] != null && alarm[col.field] != '') else blockElse">{{alarm[col.field]}}</span>
                                    <ng-template #blockElse >{{alarm['areaName']}}</ng-template>
                                </span>
                                <span *ngSwitchDefault>{{alarm[col.field]}}</span>
                            </div>
                        </td>
                        <td style="width:3%;" class="text-center">
                            <button class="btn btn-outline-secondary btn-sm" pTooltip="Ver Equipamento" (click)="loadEquipment($event,alarm)">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <td [colSpan]="cols.length+1">
                        <app-spinner *ngIf="loadingGraphicGroup"></app-spinner>
                        <span *ngIf="!loadingGraphicGroup">
                            Nenhum registro encontrado.
                        </span>
                    </td>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
