
<div class="title-side-nav d-flex justify-content-between align-items-center">
    <h5 *ngIf="!collapsed"> <fa-icon [icon]="faCogs"></fa-icon> Equipamentos</h5>
    <div>
        <button class="btn btn-secondary" type="button" (click)="collapseBar()" pTooltip="Hierarquia dos Equipamentos">
            <fa-icon [icon]="faArrowLeft" *ngIf="!collapsed"></fa-icon>
            <fa-icon [icon]="faBars" *ngIf="collapsed"></fa-icon>
        </button>
    </div>
</div>
<div *ngIf="!collapsed">
    <p-treeTable [value]="data" styleClass="p-treetable-sm" 
    selectionMode="single" [(selection)]="selectedNode" 
        dataKey="name" (onNodeSelect)="selectNode($event)">
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                <td class="tree-node-name">
                    <p-treeTableToggler [rowNode]="rowNode" styleClass="tree-toggler-system"></p-treeTableToggler>
                    {{rowData.name}} {{rowData.description != null ? " - "+rowData.description : ''}}
                </td>
                <td class="p-text-right tree-alarms" [pTooltip]="rowData.totalAlarms+' alarmes críticos'">
                   
                    <p-badge *ngIf="rowData.totalAlarms > 0" [value]="rowData.totalAlarms" styleClass="badge-system"></p-badge>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>

