<div class="">
    <div class="wrapper">
        <section class="side-nav expanded" style="max-height: 400px;" >
            <app-spinner *ngIf="loadingEquipment"></app-spinner>
            <div class="title-side-nav d-flex justify-content-between align-items-center" *ngIf="!loadingEquipment">
                <h5>{{equipment?.description != null ? equipment?.description : equipment?.name}}</h5>
                <div>
                    <button class="btn btn-secondary" type="button">
                        <fa-icon [icon]="faCog" ></fa-icon>
                    </button>
                </div>
            </div>
            
            <app-table-variables [variables]="equipment?.variables" 
                (onSelectVariable)="selectVariable($event)"
                (onAddToGraphic)="addToGraphic($event)" *ngIf="!loadingEquipment"
                (onRemoveFromGraphic)="removeVariableFromGraphic($event)"
                [(variablesInGraphic)]="variablesInGraphic"
            ></app-table-variables>
            
        </section>
        <section class="main-content container-fluid p-0" >
            <section class="box-image-equipment" [ngStyle]="styleBackGround">
                <app-spinner *ngIf="loadingImage || loadingEquipment else blockElse;"></app-spinner>
                <ng-template #blockElse>
                    <div class="d-flex justify-content-between" *ngIf="!loadingImage">
                        <button class="btn btn-primary btn-sm" type="button" [ngStyle]="{'margin-left':'auto'}" pTooltip="Alterar Imagem de fundo" (click)="showFormImage()">
                            <fa-icon [icon]="faImages"></fa-icon> Alterar Imagem
                        </button>
                    </div>
                    <div class="box-cards d-flex px-2">
                        <app-card-indicator [name]="'Saúde'" [value]="90" unit="%" *ngIf="false" [iconDefinition]="faFileMedicalAlt"></app-card-indicator>
                        <app-card-indicator [name]="'KPI'" *ngIf="!loadingImage" [indicator]="kpi" [value]="95" unit="%" [iconDefinition]="faChartBar" [loadingIndicator]="loadingKPI"></app-card-indicator>
                    </div>
                </ng-template>
            </section>
        </section>
    </div>
    <div class="wrapper">
        <section class="side-nav expanded">
            <p-table [value]="colsParameters" *ngIf="selectedVariable != null" styleClass="p-datatable-sm table-striped table table-bordered table-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="2">{{selectedVariable.description}} <br>
                            {{selectedVariable.name}}</th>
                        <th style="width: 15%;" class="text-center"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-parameters>
                    <tr>
                        <td>
                            {{parameters.name}}
                        </td>
                        <td [ngSwitch]="parameters.field" class="text-center">
                            <span *ngSwitchCase="'engUnits'">{{selectedVariable[parameters.field]}}</span>
                            <span *ngSwitchDefault>{{selectedVariable[parameters.field] | number}}</span>
                        </td>
                        <td class="text-center">
                            <button *ngIf="parameters.field != 'value' && parameters.field != 'engUnits' " class="btn btn-outline-secondary btn-sm" pTooltip="Editar">
                                <fa-icon [icon]="faEdit" (click)="showModalEdit(parameters.field)"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </section>
        <section class="main-content container-fluid p-0">
            <section class="container-fluid" style="border: 1px solid #ddd;">
                <div class="d-flex justify-content-between align-items-center my-2" >
                    <h4>Gráfico de tendência</h4>
                    <div *ngIf="!loadingGraphic">
                        <form class="form-inline" [formGroup]="formGraphic" (submit)="searchInGraphic()">
                            <div class="form-group px-3">
                                <label for="startTime" class="mx-2">Início</label>
                                <div class="">
                                    <p-calendar [(ngModel)]="startTime" formControlName="startTime" [dateFormat]="'dd/mm/yy'" [showTime]="true" [showIcon]="true" [showSeconds]="true" [selectOtherMonths]="true" ></p-calendar>
                                    <div *ngIf="startTimeForm.invalid && (startTimeForm.dirty || startTimeForm.touched)" class="text-danger">
                                        <div *ngIf="startTimeForm.errors.required">
                                            Início é obrigatório
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group px-3">
                                <label for="endTime" class="mx-2">Fim</label>
                                <div class="">
                                    <p-calendar [(ngModel)]="endTime" formControlName="endTime" [dateFormat]="'dd/mm/yy'" [showTime]="true" [showIcon]="true" [showSeconds]="true" [selectOtherMonths]="true" ></p-calendar>
                                    <div *ngIf="endTimeForm.invalid && (endTimeForm.dirty || endTimeForm.touched)" class="text-danger">
                                        <div *ngIf="endTimeForm.errors.required">
                                            Fim é obrigatório
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-system" [disabled]="(variablesInGraphic.length < 1)" >
                                    <fa-icon [icon]="faSearch"></fa-icon>
                                    Buscar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div echarts [(options)]="option" *ngIf="!loadingGraphic"></div>
                <app-spinner *ngIf="loadingGraphic"></app-spinner>
            </section>
        </section>
    </div>
</div>
<p-dialog #formImage [(visible)]="displayModal" [modal]="true" (onShow)="resetInput()">
    <ng-template pTemplate="header">
        <h4>Upload de Imagem</h4>
    </ng-template>
    <div class="container-fluid">
        <div class="form-group row">
            <label for="itemName" class="col-sm-2 col-form-label"><b>Item:</b></label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control" id="itemName" [(value)]="equipment.name">
            </div>
        </div>
        <div class="form-group row">
            <label for="itemName" class="col-sm-2 col-form-label"><b>Imagem:</b></label>
            <div class="col-sm-10">
                <div class="custom-file ">
                    <input type="file" class="custom-file-input" id="imageFile" #fileInput (change)="onChange($event)" accept="image/jpeg,image/x-png">
                    <label class="custom-file-label" for="imageFile" id="image-file-label">Escolher arquivo</label>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button class="btn btn-danger" (click)="(displayModal = false)" [disabled]="savingImage">
            <fa-icon [icon]="faTimes"></fa-icon> Cancelar
        </button>
        <button class="btn btn-primary" [disabled]="savingImage" (click)="saveFile()">
            <span *ngIf="!savingImage else elseSave" >
                <fa-icon [icon]="faSave"></fa-icon> Salvar
            </span>
            <ng-template #elseSave>
                <fa-icon [icon]="faSave"></fa-icon> Salvando
            </ng-template>
        </button>
    </p-footer>
</p-dialog>

<form [formGroup]="formEditParameter" (submit)="saveParameter()">
<p-dialog #formEdit [(visible)]="displayModalEdit" [modal]="true" [style]="{'width':'40vw'}">
        <ng-template pTemplate="header">
            <h4>Atualizar Parâmetro</h4>
        </ng-template>
        <div class="container-fluid">
            <div class="form-group row">
                <label for="variable" class="col-sm-4 col-form-label text-right"><b>Variável:</b></label>
                <div class="col-sm-8">
                <input type="text" readonly class="form-control" formControlName="variable" [value]="VariableName">
                </div>
            </div>
            <div class="form-group row">
                <label for="parameter" class="col-sm-4 col-form-label text-right"><b>Parâmetro:</b></label>
                <div class="col-sm-8">
                <input type="text" readonly class="form-control" formControlName="parameter" [(ngModel)]="parameterRequest.name">
                </div>
            </div>
            <div class="form-group row">
                <label for="parameterValue" class="col-sm-4 col-form-label text-right"><b>Valor Atual:</b></label>
                <div class="col-sm-8 input-group mb-1">
                    <input type="text" readonly class="form-control" formControlName="parameterValue" [(ngModel)]="parameterRequest.value">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon3">{{selectedVariable ? selectedVariable['engUnits'] : ''}}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="newValue" class="col-sm-4 col-form-label text-right"><b>Novo Valor:</b></label>
                <div class="col-sm-8 input-group mb-1">
                    <input type="text" class="form-control" formControlName="parameterNewValue" [(ngModel)]="parameterRequest.newValue">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon3">{{selectedVariable ? selectedVariable['engUnits'] : ''}}</span>
                    </div>
                </div>
                <div *ngIf="parameterNewValueForm.invalid && (parameterNewValueForm.dirty || parameterNewValueForm.touched)" 
                    class="col-sm-8 input-group mb-1 offset-sm-4 text-danger">
                    <div *ngIf="parameterNewValueForm.errors.pattern">
                        Formato inválido: Apenas números ou números separados por ponto.
                    </div>
                    <div *ngIf="parameterNewValueForm.errors.required">
                        Novo Valor é obrigatório
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <button class="btn btn-danger" (click)="(displayModalEdit = false)" [disabled]="savingImage">
                <fa-icon [icon]="faTimes"></fa-icon> Cancelar
            </button>
            <button type="submit" class="btn btn-primary" [disabled]="savingImage && formEditParameter.valid" >
                <span *ngIf="!savingParameter else elseSave" >
                    <fa-icon [icon]="faSave"></fa-icon> Salvar
                </span>
                <ng-template #elseSave>
                    <fa-icon [icon]="faSave"></fa-icon> Salvando
                </ng-template>
            </button>
        </p-footer>
    </p-dialog>
</form>