<header class="container-fluid py-1 d-flex justify-content-between align-items-center">
    <div class="logo py-1">
        <img src="assets/images/logo_arcelor.png" class="img-logo"/>
    </div>
    <div class="title d-flex align-items-center">
        <b class="mb-0">SISTEMA DE GESTÃO DE EQUIPAMENTOS</b>
    </div>
    <div class="wrapper-right text-center">
        <img src="assets/images/logo_tsa_lynx2.png" class="img-logo-lynx"/><br>
        <div class>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
            <button type="button" class="btn btn-outline-secondary" (click)="menu.toggle($event)">
                <fa-icon [icon]="faUser"></fa-icon> {{userLogged.samAccountName}} <fa-icon [icon]="faCaretDown"></fa-icon>
            </button>
        </div>
        
    </div>
</header>