<p-dialog [modal]="true" [(visible)]="visible" (onHide)="hideModal($event)" [style]="{'width': '95vw', 'height':'95vh'}">
    <ng-template pTemplate="header">
        <h4>Detalhes</h4>
    </ng-template>
    <div class="row" style="max-width: 100%;">
        <div class="col-md-4">
            <div echarts [options]="chartOption" class="detail-chart"></div>
        </div>
        <div class="col-md-8">
            <h5>{{cardLevel.name}}{{cardLevel.description != null && cardLevel.description != "" ? " - "+ cardLevel.description: ""}}</h5>
            <dl class="d-flex mb-0">
                <dt class="mr-1">KPI:</dt><dd>{{kpi?.value != null ? (kpi?.value | number) : ' - '}}%</dd>
            </dl>
            <dl class="d-flex mb-0">
                <dt class="mr-1">Data referência:</dt><dd>{{dataReference | date: 'dd/MM/yyyy'}}</dd>
            </dl>
            <p-table [value]="alarms" styleClass="p-datatable-sm table-striped table table-bordered table-sm" 
            [filterLocale]="'pt-br'" [paginator]="true" [scrollable]="true" scrollHeight="40vh" [rows]="10" [showCurrentPageReport]="true" 
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
                <ng-template pTemplate="caption">
                    <div class="d-flex justify-content-between align-items-center">
                        <span>Alarmes</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of cols" [style]="{'width': getColumnWidth(col.field)}">
                            <div [ngSwitch]="col.field">
                                <div *ngSwitchCase="'value'" class="d-flex justify-content-between align-items-center">
                                    {{col.header}}
                                    <p-columnFilter type="numeric" [field]="col.field" display="menu"></p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'timeStamp'" class="d-flex justify-content-between align-items-center">
                                    {{col.header}}
                                    <p-columnFilter type="date" [field]="col.field" display="menu"></p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'severity'" class="d-flex justify-content-between align-items-center">
                                    {{col.header}}
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="severities" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    <span [class]="'alarm-badge status-' + option.value">{{option.label}}</span>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'variableDescription'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="variableDescs" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'variableName'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="variableNames" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'equipmentDescription'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="equipmentDescs" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'equipmentName'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="equipmentNames" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchCase="'areaDescription'" class="d-flex justify-content-between align-items-center">
                                    <div>{{col.header}} <p-sortIcon [field]="col.field"></p-sortIcon></div>
                                    <p-columnFilter [field]="col.field" matchMode="equals" display="menu">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [ngModel]="value" [options]="areaNames" (onChange)="filter($event.value)" placeholder="Any">
                                                <ng-template let-option pTemplate="item">
                                                    {{option.label}}
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                                <div *ngSwitchDefault class="d-flex justify-content-between align-items-center">
                                    {{col.header}}
                                    <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
                                </div>
                            </div>
                        </th>
                        <th style="width: 5%;" class="text-center"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-alarm>
                    <tr>
                        <td *ngFor="let col of cols" [style]="{'width': getColumnWidth(col.field)}">
                            <div [ngSwitch]="col.field">
                                <span *ngSwitchCase="'value'">{{alarm[col.field] | number}} {{alarm['engUnit']}}</span>
                                <span *ngSwitchCase="'severity'" [class]="'alarm-badge status-'+alarm[col.field]">{{alarm[col.field]}}</span>
                                <span *ngSwitchCase="'timeStamp'">{{alarm[col.field] | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
                                <span *ngSwitchCase="'equipmentDescription'">
                                    <span *ngIf="(alarm[col.field] != null && alarm[col.field] != '') else blockElse">{{alarm[col.field]}}</span>
                                    <ng-template #blockElse >{{alarm['equipmentName']}}</ng-template>
                                </span>
                                <span *ngSwitchCase="'variableDescription'">
                                    <span *ngIf="(alarm[col.field] != null && alarm[col.field] != '') else blockElse">{{alarm[col.field]}}</span>
                                    <ng-template #blockElse >{{alarm['variableName']}}</ng-template>
                                </span>
                                <span *ngSwitchDefault>{{alarm[col.field]}}</span>
                            </div>
                        </td>
                        <td class="text-center" style="width: 5%;">
                            <button class="btn btn-outline-secondary btn-sm" pTooltip="Ver Equipamento" (click)="loadEquipment($event,alarm)">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <td [colSpan]="cols.length+1">
                        <app-spinner *ngIf="loadingAlarms"></app-spinner>
                        <span *ngIf="!loadingAlarms">
                            Nenhum registro encontrado.
                        </span>
                    </td>
                </ng-template>
            </p-table>
        </div>
    </div>
    <p-footer>
        <button class="btn btn-secondary" (click)="(visible = false)">
            <fa-icon [icon]="faTimes"></fa-icon> Fechar
        </button>
    </p-footer>
</p-dialog>
