<div #cardLevelDrag=cdkDrag class="card card-level" style="width: 15rem; height: 10rem;" id="{{name}}" 
        cdkDrag cdkDragBoundary=".box-image-panel"
        [cdkDragFreeDragPosition]="dragPosition"
        (cdkDragEnded)="savePosition($event, name)">
    <div class="d-flex justify-content-between px-1">
        <b class="title-level">{{description != null && description != "" ? description : name}}</b>
        <div class="card-buttons">
            <button class="btn btn-default px-0 py-0 mx-1" (click)="showDetails()" pTooltip="Ver detalhes">
                <fa-icon [icon]="faPlus"></fa-icon>
            </button>
            <button *ngIf="hasChildren" class="btn btn-default px-0 py-0 mx-1" (click)="loadChild(name, description)" pTooltip="Navegar">
                <fa-icon [icon]="faSearchPlus"></fa-icon>
            </button>
            <button *ngIf="!hasChildren" class="btn btn-default px-0 py-0 mx-1" (click)="goToEquipment(name)" pTooltip="Navegar">
                <fa-icon [icon]="faEye"></fa-icon>
            </button>
        </div>
    </div>
    <div echarts [options]="chartOption" class="level-chart"></div>
    
</div>
