<p-sidebar [(visible)]="displaySearchBar" class="p-sidebar-lg" position="right" [style]="{'width': '30vw'}" (onHide)=" hideBar()">
    <h4> Pesquisar Tags </h4>
    <input type="text" class="form-control" placeholder="Nome ou descrição..." [disabled]="loadingVariables" (input)="searchVariables($event)" />
    <div [style]="{'height' : '100px'}" *ngIf="loadingVariables">
        <app-spinner></app-spinner>
    </div>
    <div [style]="{'height' : '100px', 'margin-top':'15px'}" class="text-center" *ngIf="(searchedOnce && !loadingVariables && variablesFound?.length == 0)">
        Nenhuma tag encontrada.
    </div>
    <div class="searchbar-inner" [style]="{'height': '85vh', 'overflow-y': 'auto'}" *ngIf="!loadingVariables">
        <div class="mt-3" *ngFor="let variable of variablesFound">
            <a [routerLink]="'equipment/'+variable.equipmentName" (click)="(displaySearchBar = false)" ><h5 class="mb-0"><small><fa-icon [icon]="faTag"></fa-icon></small> {{variable.description}}</h5></a>
            <span class="ml-2">{{(variable.equipmentDescription != null? variable.equipmentDescription : variable.equipmentName)}}</span>
        </div>
    </div>
</p-sidebar>