.wrapper-spinner{
    position:relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: rgba(255,255,255.1);
    flex-direction: column;
}
.spinner{
    border: 5px solid rgba(0,0,0,.1);
    border-left-color: #ED7D31;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
.spinner-message{
    font-size: 12px;
}
@keyframes spin{
    to { transform: rotate(360deg); }
}