<div class="wrapper">
    <section class="side-nav expanded" style="min-height: 75vh;">
        <div class="title-side-nav d-flex justify-content-between align-items-center" >
            <h5>Configurações</h5>
            <div>
                <button class="btn btn-secondary" type="button">
                    <fa-icon [icon]="faUserCog" ></fa-icon>
                </button>
            </div>
        </div>
        <p-listbox [options]="groupOptions" optionLabel="name" [(ngModel)]="selectedGroup" optionDisabled="inactive"></p-listbox>
    </section>
    <section class="main-content container-fluid" >
        <p-panel [header]="selectedGroup.name">
            <div *ngIf="selectedGroup.code=='equipments'">
                <form [formGroup]="formGeneralConfigs" (submit)="saveGeneralConfigs()">
                    <div class="form-group row">
                        <label for="variable" class="col-sm-4 col-form-label text-right"><b>Tempo de atualização dos valores:</b></label>
                        <div class="col-sm-6">
                            <p-inputMask [(ngModel)]="generalConfigurations['ValueRefreshTime']" mask="99:99:99" formControlName="ValueRefreshTime"></p-inputMask>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="variable" class="col-sm-4 col-form-label text-right"><b>Período de Busca Gráfico(h):</b></label>
                        <div class="col-sm-6 p-field">
                            <p-inputNumber formControlName="GraphicTimeIntervalSearch" styleClass="w-100" [(ngModel)]="generalConfigurations['GraphicTimeIntervalSearch']"></p-inputNumber>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="variable" class="col-sm-4 col-form-label text-right"><b>Mostrar apenas variáveis ativas:</b></label>
                        <div class="col-sm-6">
                            <p-checkbox [(ngModel)]="generalConfigurations['OnlyActiveVariables']" binary="true" formControlName="OnlyActiveVariables"></p-checkbox>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-sm-6 text-right">
                            <button type="submit" class="btn btn-primary" >
                                <fa-icon [icon]="faSave"></fa-icon> Salvar
                            </button>
                        </div>
                    </div>
                </form>
                <div class="row p-1">
                    <p-table *ngIf="false" [value]="variableParameters" styleClass="p-datatable-sm table-striped table table-bordered table-sm">
                        <ng-template pTemplate="caption">
                            <div class="d-flex justify-content-between">
                                Parâmetros de Variáveis
                                <span class="p-input-icon-left">
                                    <button type="submit" class="btn btn-primary btn-sm" pTooltip="Adicionar" (click)="displayModalInsert = true">
                                        <fa-icon [icon]="faPlus"></fa-icon>
                                    </button>
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th >Nome</th>
                                <th >Tipo</th>
                                <th style="width: 15%;" class="text-center"></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-parameters>
                            <tr>
                                <td>
                                    {{parameters.key}}
                                </td>
                                <td >
                                    {{parameters.value}}
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-outline-danger btn-sm" pTooltip="Editar" (click)="removeParameter(parameters)">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div *ngIf="selectedGroup.code=='images'">
                <div class="row px-4 py-2 ">
                    <h5>Imagens cadastradas</h5>
                    <button type="submit" class="btn btn-primary btn-sm" style="margin-left:auto;" pTooltip="Adicionar" 
                        (click)="displayModalFile = true">
                        Adicionar <fa-icon [icon]="faPlus"></fa-icon>
                    </button>
                </div>
                <p-galleria [(value)]="images" [(visible)]="displayCustom" [(activeIndex)]="activeIndex" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '850px'}" [numVisible]="7"
                    [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000"> 
                    <ng-template pTemplate="item" let-image>
                        <img [src]="pathImages+image.url" style="width: 100%; display: block;"/>
                    </ng-template>
                    <ng-template pTemplate="thumbnail" let-image>
                        <div class="p-grid p-nogutter p-justify-center">
                            <img [src]="pathImages+image.url" style="display: block;"/>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="caption" let-image>
                        <h4 style="margin-bottom: .5rem; color: #ffffff;">{{image.name}}</h4>
                    </ng-template>
                </p-galleria>
                <div *ngIf="images" class="d-flex flex-wrap" >
                    <div *ngFor="let image of images; let index = index;" 
                        class="col-md-3 text-center my-2 card" key="index" >
                        <div class="box-img-gallery p-2" style="display: inline-block;">
                            <img [src]="pathImages+image.url" class="img-gallery"
                                (click)="imageClick(index)" height="100"/>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="p-2 mb-0">{{image.name}}</p>
                            <button type="button" class="btn btn-danger btn-sm" pTooltip="Excluir imagem" (click)="confirmDeleteImage(image.name)">
                                <fa-icon [icon]="faTrash"></fa-icon>
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
        </p-panel>
    </section>
</div>
<p-confirmDialog #cd header="Confirmação" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button class="btn btn-danger" (click)="cd.reject()">
            <fa-icon [icon]="faTimes"></fa-icon> Cancelar
        </button>
        <button type="submit" class="btn btn-primary" (click)="cd.accept()" >
            <fa-icon [icon]="faCheck"></fa-icon> Confirmar
        </button>
    </p-footer>
</p-confirmDialog>

<form [formGroup]="formInsertParameter" (submit)="insertParameter()">
    <p-dialog #formInsert [(visible)]="displayModalInsert" [modal]="true" [style]="{'width':'40vw'}">
            <ng-template pTemplate="header">
                <h4>Inserir Parâmetro</h4>
            </ng-template>
            <div class="container-fluid">

                <div class="form-group row">
                    <label for="newValue" class="col-sm-4 col-form-label text-right"><b>Nome:</b></label>
                    <div class="col-sm-8 input-group mb-1">
                        <input type="text" class="form-control" formControlName="key" [(ngModel)]="parameterInsert.key">
                    </div>
                    <div *ngIf="parameterKey.invalid && (parameterKey.dirty || parameterKey.touched)"  
                        class="col-sm-8 input-group mb-1 offset-sm-4 text-danger">
                        <div *ngIf="parameterKey.errors.required">
                            Campo obrigatório
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newValue" class="col-sm-4 col-form-label text-right"><b>Valor:</b></label>
                    <div class="col-sm-8 input-group mb-1">
                        <input type="text" class="form-control" formControlName="value" [(ngModel)]="parameterInsert.value">
                    </div>
                    <div *ngIf="parameterValue.invalid && (parameterValue.dirty || parameterValue.touched)" 
                        class="col-sm-8 input-group mb-1 offset-sm-4 text-danger">
                        <div *ngIf="parameterValue.errors.required">
                            Campo obrigatório
                        </div>
                    </div>
                </div>
            </div>
            <p-footer>
                <button class="btn btn-danger" (click)="(displayModalInsert = false)" [disabled]="savingParameter">
                    <fa-icon [icon]="faTimes"></fa-icon> Cancelar
                </button>
                <button type="submit" class="btn btn-primary" [disabled]="savingParameter && formInsertParameter.valid" >
                    <span *ngIf="!savingParameter else elseSave" >
                        <fa-icon [icon]="faSave"></fa-icon> Salvar
                    </span>
                    <ng-template #elseSave>
                        <fa-icon [icon]="faSave"></fa-icon> Salvando
                    </ng-template>
                </button>
            </p-footer>
        </p-dialog>
</form>

<p-dialog #formImage [(visible)]="displayModalFile" [modal]="true" (onShow)="resetInput()" [responsive]="true" [draggable]="false">
    <ng-template pTemplate="header">
        <h4>Upload de Imagem</h4>
    </ng-template>
    <div class="container-fluid">
        <div class="form-group row">
            <label for="itemName" class="col-sm-2 col-form-label"><b>Item:</b></label>
            <div class="col-sm-10">
                <p-dropdown [options]="plantLevels" [virtualScroll]="true" placeholder="Selecione..." itemSize="30" appendTo="body" [(ngModel)]="plantLevel" optionLabel="name" [filter]="true" [filterBy]="'name'" styleClass="w-100"></p-dropdown>
            </div>
        </div>
        <div class="form-group row">
            <label for="itemName" class="col-sm-2 col-form-label"><b>Imagem:</b></label>
            <div class="col-sm-10">
                <div class="custom-file ">
                    <input type="file" class="custom-file-input" id="imageFile" #fileInput (change)="onChange($event)" accept="image/jpeg,image/x-png">
                    <label class="custom-file-label" for="imageFile" id="image-file-label">Escolher arquivo</label>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button class="btn btn-danger" (click)="(displayModalFile = false)" [disabled]="savingImage">
            <fa-icon [icon]="faTimes"></fa-icon> Cancelar
        </button>
        <button class="btn btn-primary" [disabled]="savingImage || imageFile == null" (click)="saveFile()">
            <span *ngIf="!savingImage else elseSave" >
                <fa-icon [icon]="faSave"></fa-icon> Salvar
            </span>
            <ng-template #elseSave>
                <fa-icon [icon]="faSave"></fa-icon> Salvando
            </ng-template>
        </button>
    </p-footer>
</p-dialog>
