@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../src/assets/Themes/theme-cosmo.min.css';

html {
    font-size: 14px;
    min-height: 100%;
}
body{
    max-width: 100%;
    overflow-x: hidden;
    background-color: #fefefe;
    height: 100%;
}
:root{
    --sideNavWidth: 25%;
}
*{
margin: 0;
padding:0;
}

a {
    color: #777;
}
a:hover{
    color: #999;

}
.img-logo{
    height: 3rem;
}
.btn-system{
    color:#fff;
    background-color: #ED7D31;
}
.btn-system:hover{
    color:#fff;
    background-color: #d35f12;
}

.box-menu{
    color: #2F4858;
    background-color: #D9D9D9;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 5px solid #ED7D31;
}
.menu-system{
    list-style: none;
    font-size: 14px;
    margin-bottom: 0;
}
.menuitem a{
    text-decoration: none;
    color: #2F4858;
}
.menu-system .menuitem{
    padding: .7rem 1.5rem;
    
}
.menuitem .active{
    color: #ED7D31 !important;
}
.menuitem a:hover{
    color: #ED7D31;
}
.wrapper{
    display: flex;
    width: 100%;
}
.side-nav.expanded{
    position: relative;
    min-width: var(--sideNavWidth);
    max-width: var(--sideNavWidth);
    background-color: #F2F2F2;
    transition: all .3s;
}
.side-nav.collapsed{
    min-width: 38px !important;
    max-width: 38px !important;
    transition: all .3s;
}
.side-nav h5{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}
.main-content{
    min-width: 75%;
}
.title-side-nav{
    background-color: #2F4858;
    color: #fff;
}
.badge-system{
    background-color: #E81818;
    font-size: 10px;
    padding: 0 .2rem !important;
}
.p-treetable-toggler{
    width: .7rem!important;
    height: .7rem!important;
}
.tree-node-name{
    padding: 0;
    font-size: 11px;
}
.tree-alarms{
    width: 15%;
}
.theme-orange .bs-datepicker-head {
    background-color: #ED7D31 !important;
}
.box-image-panel{
    height: 500px;
    margin-top: 0;
    margin-bottom: .2rem;
}

.box-image-equipment{
    height: 400px;
    margin-top: 0;
    margin-bottom: .2rem;
}
.image-panel{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
}

.card-level{
    position: absolute;
    z-index: 9;
    background-color: rgba(255,255,255,.9);
    box-shadow: rgb(0 0 0 / 10%) 3px 3px;
}

.title-level{
    cursor: move;
    z-index: 10;
}

.table-alarms{
    font-size: 16px;
}

.alarm-badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
.alarm-badge.status-CRITICO {
    background-color: #ffcdd2;
    color: #740b0b;
}
.alarm-badge.status-ALERTA {
    background-color: #fde268;
    color: #655301;
}
.alarm-badge.status-NORMAL {
    background-color: #d6e9c9;
    color: #3a5b25;
}
.p-datatable-sm{
    font-size: 13px;
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td{
    padding: 0.2rem 0.2rem;
}
.p-paginator-current, .p-paginator-page, .p-paginator-first, .p-paginator-prev, .p-paginator-pages, .p-paginator-next, .p-paginator-last{
    color: #373a3c !important;
}
.p-paginator-page.p-highlight{
    background-color: #373a3c !important;
    border-color: #373a3c !important;
    color: #fff !important;
}
.p-datatable-tbody td{
    word-break: break-word;
    hyphens: auto;
}

.card-buttons{
    min-width: 25%;
    text-align: right;
}
.btn-secondary{
    background-color:#2F4858;
    border: #2F4858;
}
.btn-secondary:hover,.btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus{
    background-color:#2F4858;
    border: #2F4858;
}

.btn-outline-secondary{
    color:#2F4858;
    border: none;
}
.btn-outline-danger{
    border: none;
}
.btn-outline-secondary:hover,.btn-outline-secondary:active, .btn-outline-secondary:visited, .btn-outline-secondary:focus{
    background-color:#2F4858;
    border: #2F4858;
}
.btn-outline-secondary:focus{
    color: #fff;
}
.calendar-button{
    background-color: #2F4858 !important;
}
.img-gallery{
    cursor: pointer; 
    max-width: 100%;
}
.img-gallery:hover{
    opacity: 0.7;
    background-color: rgba(0,0,0,.7);
    transition: all 0.5s;
}

.p-calendar-w-btn .p-datepicker-trigger{
    background-color: #2F4858;
    border: #2F4858;

}
.p-calendar-w-btn .p-datepicker-trigger:hover{
    background-color: #2F4858;
    border: #2F4858;

}

.report-title{
    padding: 0.3rem 0.7rem;
}

.custom-file-label::after{
    content: 'Procurar'
}

.logo-login{
    height: 40px;
    margin-bottom: 1rem;
}

#login-box{
    width: 40vw;
    margin: 10vh auto;
    padding: 2rem;
}
#login-box h5{
    font-size: 18px;
}

#login-box .input-group span,
#login-box .input-group input,
#login-box button{
    font-size: 14px;
}
#login-box button{
    padding: .5rem;
}

/* 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
