
<div class="container-fluid px-0">
    <div class="top-content" *ngIf="showHeader">
        <app-header></app-header>
        <app-nav-menu></app-nav-menu>
    </div>
        <router-outlet></router-outlet>
    <div class="bottom-content" *ngIf="showFooter">
        <app-footer></app-footer>
    </div>
</div>

<p-toast key="toastMessage" position="bottom-right"></p-toast>