<section class="container-fluid box-menu d-flex justify-content-between">
    <ul class="menu-system d-flex">
        <li class="menuitem">
            <a href="#" [routerLink]="['']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"><fa-icon [icon]="faCogs"></fa-icon> Equipamentos</a>
        </li>
        <li class="menuitem">
            <a href="#" [routerLink]="['dashboard']" [routerLinkActive]="'active'"><fa-icon [icon]="faTachometerAlt"></fa-icon> Dashboard</a>
        </li>
        <li class="menuitem">
            <a href="#" [routerLink]="['report-equipments']" [routerLinkActive]="'active'" > <fa-icon [icon]="faFileAlt"></fa-icon> Relatórios</a>
        </li>
        <li class="menuitem">
            <a href="#" [routerLink]="['configurations']" [routerLinkActive]="'active'" > <fa-icon [icon]="faUserCog"></fa-icon> Configurações</a>
        </li>
    </ul>
    <button type="button" class="btn btn-outline-secondary" (click)="showSearchBar()">
        <fa-icon [icon]="faSearch"></fa-icon> Pesquisar Tags
    </button>
</section>
<app-search-bar [(displaySearchBar)]="displaySearch" (onHideBar)="hideBar($event)"></app-search-bar>