<section class="container-fluid p-0 box-image-panel" [ngStyle]="styleBackGround">
    <app-spinner *ngIf="loadingImage || loadingCards"></app-spinner>
    <div class="d-flex justify-content-between" *ngIf="!(loadingImage || loadingCards)">
        <button *ngIf="(level.name != 'root')" class="btn btn-secondary btn-sm" type="button" (click)="backLevel()" pTooltip="Voltar ao nível anterior">
            <fa-icon [icon]="faArrowUp"></fa-icon>
        </button>
        <button class="btn btn-primary">{{currentLevel}}{{currentLevelName != null && currentLevelName != '' ? ' - '+currentLevelName: ''}}</button>
        <button class="btn btn-primary btn-sm" type="button" [ngStyle]="{'margin-left':'auto'}" (click)="showFormImage()" pTooltip="Alterar Imagem de fundo">
            <fa-icon [icon]="faImages"></fa-icon> Alterar Imagem
        </button>
    </div>
    <div *ngIf="!(loadingImage || loadingCards)">
        <app-card-plant-level *ngFor="let graphicSector of graphicSectors" [collapseSideBar]="collapseSideBar"
            [name]="graphicSector.info" [data]="graphicSector.items" [description]="graphicSector.description"
            (onLoadChild)="loadChild($event)" [hasChildren]="(level.children != 'equipmentName')"
            (onShowDetails)="showDetails($event)"
        ></app-card-plant-level>
    </div>
</section>
<p-dialog #formImage [(visible)]="displayModal" [modal]="true" [style]="{'width': '40vw', 'overflow-x':'hidden'} " (onShow)="resetInput()">
    <ng-template pTemplate="header">
        <h4>Upload de Imagem</h4>
    </ng-template>
    <div class="container-fluid">
        <div class="form-group row">
            <label for="itemName" class="col-sm-2 col-form-label"><b>Item:</b></label>
            <div class="col-sm-10">
                <input type="text" readonly class="form-control" id="itemName" [(value)]="this.currentLevel">
            </div>
        </div>
        <div class="form-group row">
            <label for="itemName" class="col-sm-2 col-form-label"><b>Imagem:</b></label>
            <div class="col-sm-10">
                <div class="custom-file ">
                    <input type="file" class="custom-file-input" id="imageFile" #fileInput (change)="onChange($event)" accept="image/jpeg,image/x-png">
                    <label class="custom-file-label" for="imageFile" id="image-file-label">Escolher arquivo</label>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button class="btn btn-danger" (click)="(displayModal = false)" [disabled]="savingImage">
            <fa-icon [icon]="faTimes"></fa-icon> Cancelar
        </button>
        <button class="btn btn-primary" [disabled]="savingImage" (click)="saveFile()">
            <span *ngIf="!savingImage else elseSave" >
                <fa-icon [icon]="faSave"></fa-icon> Salvar
            </span>
            <ng-template #elseSave>
                <fa-icon [icon]="faSave"></fa-icon> Salvando
            </ng-template>
        </button>
    </p-footer>
</p-dialog>
<app-plant-level-details *ngIf="(selectedItem != null)" 
    [cardLevel]="selectedItem" [(visible)]="visibleDetails" (onHideModal)="(visibleDetails = false)"
    ></app-plant-level-details>

<p-toast position="bottom-right"></p-toast>